<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>           <string>com.user.daily-pulse</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NPX_BIN__</string>
    <string>tsx</string>
    <string>__REPO__/scripts/generate-pulse.ts</string>
  </array>
  <key>WorkingDirectory</key><string>__REPO__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>          <integer>7</integer>
    <key>Minute</key>        <integer>0</integer>
  </dict>
  <key>StandardOutPath</key> <string>__REPO__/data/pulse.log</string>
  <key>StandardErrorPath</key><string>__REPO__/data/pulse.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>          <string>__PATH__</string>
  </dict>
</dict>
</plist>
